.rowWrapper {
  width: 60%;
}

.row {
  display: flex;
  align-items: center;
  border: 1px solid #BBBBBB;
  border-radius: 10px;
  padding: 1rem;
  margin-top: 1rem;
}

.innerRow {
  margin-left: 1.5rem;
  width: 100%;
  display: flex;
  align-items: center;
}

.textRight {
  text-align: right;
  font-size: 1.05rem;
}

.title {
  font-size: 1.25rem;
}
